/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@font-face {
  font-family: Silkscreen;
  src: url(../Font/Silkscreen-Regular.ttf);
}
@font-face {
  font-family: Silkscreen;
  src: url(../Font/Silkscreen-Bold.ttf);
  font-weight: bold;
}
body {
  font-family: Silkscreen;
  max-width: 1200px;
  height: 100vh;
  margin: auto;
}

#header {
  position: fixed;
  max-width: 1200px;
  width: 100vw;
  background-color: #fff;
  height: 30px;
  border: solid 3px #234b78;
  border-radius: 5px;
  display: none;
  align-items: center !important;
  padding-left: 10px;
  justify-content: space-around;
}
#header #time {
  display: flex !important;
  align-items: center !important;
}
#header #chrono {
  font-size: 22px;
  padding-left: 10px;
}
#header .fa-heart {
  color: red;
}

.btn, .modal #restart, .modal #next, #board button#practice,
#board button#game {
  font-family: Silkscreen;
  font-size: 15px;
  padding: 20px;
  margin: 3px;
  background-color: burlywood;
  border: solid 5px black;
  border-radius: 10px;
}

#board {
  position: static;
  background-color: lavender;
  height: 100vh;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#board .scrollPic {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
#board .card {
  width: 47%;
  max-width: 260px;
  height: auto;
  border: dotted 5px #0ac3a7;
  border-radius: 10px;
  background-color: #fffdd8;
  margin: 4px;
}
#board .great {
  background-color: rgb(3, 119, 80) !important;
}
#board .nope {
  background-color: red !important;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  animation: fadeIn 0.3s both;
}
.modal .modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  border: inset 5px #d83a37;
  background-color: #fffdd8;
  width: 600px;
  max-width: calc(100vw - 80px);
  max-height: calc(100vh - 100px);
  height: 80vh;
  border-radius: 5px;
  animation: slideFromTop 0.5s both;
}
.modal #restart, .modal #next {
  width: 150px;
}
.modal .message {
  margin-bottom: 100px;
  font-size: 25px;
  text-align: center;
}

.modal[aria-hidden=true] {
  animation-name: fadeOut;
}
.modal[aria-hidden=true] .modal-wrapper {
  animation-name: slideFromBottom;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideFromTop {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes slideFromBottom {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}

/*# sourceMappingURL=game.css.map */
