@import "libs/reset.scss";
@font-face {
  font-family: Silkscreen;
  src: url(../Font/Silkscreen-Regular.ttf);
}
@font-face {
  font-family: Silkscreen;
  src: url(../Font/Silkscreen-Bold.ttf);
  font-weight: bold;
}
$win : #0ac3a7;
$loose : #d83a37;
body {
  font-family: Silkscreen;
  max-width: 1200px;
  height: 100vh;
  margin: auto;
}
#header {
  position: fixed;
  max-width: 1200px;
  width: 100vw;
  background-color: #fff;
  height: 30px;
  border: solid 3px #234b78;
  border-radius: 5px;
  display: none;
  align-items: center !important;
  padding-left: 10px;
  justify-content: space-around;
  #time {
    display: flex !important;
    align-items: center !important;
  }
  #chrono {
    font-size: 22px;
    padding-left: 10px;
  }
  .fa-heart {
    color: red;
  }
}
.btn{
    font-family: Silkscreen;
   
    font-size: 15px;
    padding: 20px;
    margin: 3px;
    background-color: burlywood;
    border: solid 5px black;
    border-radius: 10px;
}
#board {

  position: static;
  background-color: lavender;
  height: 100vh;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .bgCard {
    background-color: #234b78;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 20px rgb(167, 35, 23);
    border-radius: 10px;
    box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.75);
  }
  .scrollPic {
    
    width: auto;
    max-width: 80%;
    max-height: 80%;
    height: auto;
    
  }
  button#practice,
  button#game {
    @extend .btn
  }
  .card {
    width: 49%;
    max-width: 260px;
    height: 25%;
    max-height: 260px;
    border: solid 8px rgb(167, 35, 23);
    border-radius: 10px;
    background-color: #234b78;
    margin: .5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.75);
  }
  .great {
    background-color: rgb(3, 119, 80) !important;
  }

  .nope {
    background-color: red !important;
  }

  
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
    animation: fadeIn .3s both;
    .modal-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
        border: inset 5px #d83a37;
        background-color: #fffdd8;
        width: 600px;
        max-width: calc(100vw - 60px);
        max-height: calc(100vh - 100px);
        height: 80vh;
        border-radius: 5px;
        animation: slideFromTop .5s both;
      
    }
    .showButtons{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    button{
        text-align: center;
        
        @extend .btn;
        width : 130px;
        
       
    }
    .message{
      
        margin-bottom: 30px;
        font-size: 25px;
        text-align: center;
        transition: .5;
    }
  }

  .modal[aria-hidden="true"]{
    animation-name: fadeOut;
    .modal-wrapper{
        animation-name: slideFromBottom;
    }
  }

  @keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
  }
  @keyframes fadeOut{
    from {opacity: 1;}
    to {opacity: 0;}
  }

  @keyframes slideFromTop{
    from {transform: translateY(-50px)}
    to {transform: translateY(0px)}
  }

  @keyframes slideFromBottom{
    from {transform: translateY(0px)}
    to {transform: translateY(50px)}
  }